<p>Notebook list</p>

<p>* <a href="Boost_Business_Rules/">Boost Business by Rules</a></p>
<p>* <a href="Costumers_behavior/">Costumers Data Analysis</a></p>
<p>* <a href="Drafting/">Drafting</a></p>
